In [32]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")
from tqdm import tqdm

from nltk.corpus import stopwords
stop_words = stopwords.words('english')

from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

from bs4 import BeautifulSoup

from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

import pickle
import os
import re

In [33]:
df2= pd.read_csv('test.csv')

In [34]:
def preprocessor(text):
    lemmatizer = WordNetLemmatizer()
    sentences = text.split(' ')
    words = []
    
    for word in sentences:
        word = re.sub("n't", 'not', word)
        word = re.sub('<[^>]*>', '', word)
        word = re.sub('[^a-zA-Z]', '', word)
        word = re.sub(r'[^\w\s]','',word)
        
        word = lemmatizer.lemmatize(word, pos = 'v')
        word = lemmatizer.lemmatize(word, pos = 'n')
        word = lemmatizer.lemmatize(word, pos = 'a')
        words.append(word)
        
    return ' '.join(words)

In [35]:
with open('week5.pkl', 'rb') as model:
    reload_model = pickle.load(model)
preds = reload_model.predict_proba(df2['Phrase'])

In [36]:
preds2= reload_model.predict(df2['Phrase'])

In [37]:
preds2

array([1, 2, 2, ..., 2, 2, 2], dtype=int64)

In [38]:
df2['P_Sentiment']= preds2

In [39]:
df2

,PhraseId,Phrase,P_Sentiment
0,0,drag on,1
1,1,your average formulaic romantic quadrangle,2
2,2,another retelling,2
3,3,pinks,2
4,4,imaginative,3
...,...,...,...
39010,39010,get back,2
39011,39011,that fails on so many levels,1
39012,39012,"Ms. Ramsay and her co-writer ,",2
39013,39013,I was in the tiny two seater plane that carrie...,2
39014,39014,Strong filmmaking requires a clear sense of pu...,2

In [42]:
df2.to_csv('submission.csv', index= False)